<header class="main-header-container">
    <div class="main-header container">
        <div class="main-header container1">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fa-solid fa-book-open-reader main-logo-icon"></i>
                    <span class="main-logo-text">Processos Judiciais</span>
                </a>
            </h1>     
        </div>
        <div class="main-header container2">
            <h2>
                <a class="main-logo" href="/home">
                    <span class="main-sobre-text">Home</span>
                </a>
            </h2>
        </div>
        <div class="main-header container2">
            <h2>
                <a class="main-logo" href="#">
                    <span class="main-sobre-text">Sobre</span>
                </a>
            </h2>
        </div> 
        <div class="main-header container2">
            <h2>
                <a class="main-logo" href="#">
                    <i class="fa-solid fa-circle-user main-logo-icon2"></i>
                </a>
            </h2>
        </div> 
    </div>
</header>