{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'recipes/css/loginstyle.css' %}">
  <!-- Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/11.6.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/11.6.0/firebase-auth-compat.js"></script>
  <!--Script login/cadastro firebase-->
  <script src="{% static 'js/firebase-scripts.js' %}"></script>  
  <title>Login do Usuário</title>
</head>

<body>
  <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="cadastroForm">
                <h1>Cadastre-se</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>ou utilize seu E-mail</span>
                <input type="email" id="emailCad" placeholder="E-mail" required>
                <input type="password" id="senhaCad" placeholder="Senha" required>
                <input type="password" id="confirmarSenhaCad" placeholder="Confirme a Senha" required>
                <input type="submit" value="Cadastrar" onclick="cadastro()">
            </form>
        </div>
        <div class="form-container sign-in">
            <form id="loginForm">
                <h1>Fazer Login</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>ou utilize seu E-mail</span>
                <input type="email" id="emailLogin" placeholder="E-mail" required>
                <input type="password" id="senhaLogin" placeholder="Senha" required>
                <a href="#">Esqueceu a senha?</a>
                <input type="submit" value="Entrar" onclick="login()">
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem-vindo de volta!</h1>
                    <p>Entre com os seus dados para acessar nossas ferramentas</p>
                    <button class="hidden" id="login">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá, Seja bem-vindo!</h1>
                    <p>Registre-se com seus dados pessoais para acessar nossas ferramentas</p>
                    <button class="hidden" id="register">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>
    <!--animacao toggle-->
    <script src="{% static 'js/toggle-forms.js' %}"></script>
</body>
</html>
