{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login do Usuário</title>
  <link rel="stylesheet" href= "{% static 'recipes/css/style2.css' %}"/>
</head>
<body>
  <div class="form-container">
    <h2>Login</h2>
    <form id="loginForm">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>

      <input type="submit" id="entrar"value="Entrar">
    </form>

    <div class="modal" id="modal-failed">
      <div class="modal-inner">
        <h2>Erro ao efetuar o login!</h2>
        <button id="closeModalFailed">Fechar</button>
      </div>
    </div>  

    <div class="modal" id="modal-success">
      <div class="modal-inner">
        <h2>Sucesso ao efetuar o login!</h2>
        <button id="closeModalSuccess">Fechar</button>
      </div>
    </div>  

    <div class="link">
      <a href="/cadastro/">Não tem conta? Cadastre-se</a>
    </div>

  </div>

  <!-- Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/11.6.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/11.6.0/firebase-auth-compat.js"></script>

  <script>
    // Configuração do Firebase
    const firebaseConfig = {
      apiKey: "AIzaSyDUHVA75qtKwKFGQDdMKb1S0QaH8q4OhcM",
      authDomain: "projetointegrador5-27fb6.firebaseapp.com",
      projectId: "projetointegrador5-27fb6",
      storageBucket: "projetointegrador5-27fb6.appspot.com",
      messagingSenderId: "331147732123",
      appId: "1:331147732123:web:f24f497c6f856c30ee123e",
      measurementId: "G-4W95E8MNBG"
    };

    // Inicializa o Firebase
    firebase.initializeApp(firebaseConfig);

    // Captura o formulário e adiciona evento de submit
    const loginForm = document.getElementById("loginForm");
    const modalSuccessful = document.getElementById("modal-success");
    const modalFailed = document.getElementById("modal-failed");

    const email = document.getElementById("email");
    const senha = document.getElementById("senha");

    const closeBtnSuccess = document.getElementById("closeModalSuccess");
    const closeBtnFailed = document.getElementById("closeModalFailed");

    // Funcao para login
    function realizarLogin(email, senha) {
      firebase.auth().signInWithEmailAndPassword(email, senha)
        .then((userCredential) => {
          modalSuccessful.classList.add("open");
          //alert("Login realizado com sucesso!");
          // Redirecionar para outra página após login(2 segundos de cooldown)
          setTimeout(()=> {
            window.location.href = "/home/";
          }, 2000);
        })
        .catch((error) => {
          modalFailed.classList.add("open");
          //alert("Erro ao fazer login");
        });
    }

    // Evento de submit do formulario
    loginForm.addEventListener("submit", function(e) {
      e.preventDefault(); // Evita recarregar a página

      const emailInput = email.value;
      const senhaInput = senha.value;
      realizarLogin(email,senha)

    });      

    // Funcao para fechar o pop-up
    function closeModal(modalElement){
      modalElement.classList.remove("open");
    }
    closeBtnSuccess.addEventListener("click", ()=> closeModal(modalSuccessful));
    closeBtnFailed.addEventListener("click", ()=> closeModal(modalFailed));

  </script>
</body>
</html>
